.accordion {
    font-family: 'Nunito', sans-serif;
    max-width: 250px;
    padding: 0;
    list-style-type: none;
}
.accordion-header {
    cursor: pointer;
    text-transform: uppercase;
}
.accordion>li {
    border-bottom: 1px solid  gray;
    padding: 10px 0;
}
.accordion-body {
    padding-left: 20px;
    display: none;
    list-style-type: square;
}

.accordion-header:after{
	content: "+";
    font-weight: bold;
    font-size: 25px; 
	float: right;
}

.accordion-header.active:after{
	font-weight: bold;
	content: "-";
	float: right;
}
.accordion-body li {
    padding: 2px 0;
    color: rgb(253, 145, 109); 
}
.accordion-body li span {
    color: black; 
}
.accordion-body li span:hover {
    font-weight: bold;
}

/* 5
5660 */