.box-clothes {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    top: 50px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;  
    font-size: 15px;
}
.box-clothes__item {
    max-width: 20%;
}
/* .box-clothes__item img {
    width: 100%;
} */
.box-clothes__slider-clothes {
    background: url("spr.png");
    width: 177px;
    height: 250px;
}
.box-clothes__slider-clothes_position-first {
    background-position: left bottom; 
}
.box-clothes__slider-clothes_position-second {
    background-position: 10px 20px; 
}
.box-clothes__slider-clothes_position-third {
    background-position: 0 0; 
}
.box-clothes__slider-clothes_position-forth {
    background-position: 0 0; 
}

.box-clothes__item-info {
    background-color: rgb(233, 233, 233);
    height: 70px;
    position: relative;
    padding-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}
.box-clothes__item-info p {
    text-align: center;
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
}
.box-clothes__item-info h3 {
    margin: 0;
    text-align: center;
}
.button-add-to-card_orange-for-clothes {
    position: absolute;
    bottom: 8px;
    transform: translate(-50%);
    left: 50%;
  }
  .button-add-to-card_orange-for-clothes input[type="button"] {
    
    background: rgb(253, 145, 109);
    box-shadow: inset 0 -3px 0px rgb(218, 95, 54);
  }
  .button-add-to-card_orange-for-clothes input[value="SHOP NOW"]:hover {
    background-color:  rgba(218, 95, 54, 0.5);
  }
  .button-add-to-card_orange-for-clothes::after {
    top: 40%; 
  }