.catalog {
    position: relative;
    justify-content: center;
    width: 100%;  
    top: 50px; 
    font-family: 'Nunito', sans-serif;
}
.catalog__menu {
    display: flex;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 1125px;
    border: 1px solid yellow;
}
.catalog__item {
    padding: 10px 0;
    float: left;
    text-transform: uppercase;
    display: inline-block;
}
.catalog__item a {
    padding: 10px;
    color: rgb(71, 71, 71);
}
.catalog__item a:active {
    color: white;
}    
.catalog__item:active {
    background-color: rgb(253, 145, 109);    
} 
.catalog__topmenu {
    padding: 0;
    margin-bottom: 0;
}
