.catalog {
    position: relative;
    justify-content: center;
    width: 100%;  
    top: 50px; 
    border: 1px solid darkblue;
    font-family: 'Nunito', sans-serif;
}
.catalog__menu {
    display: flex;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 1125px;
    border: 1px solid yellow;
}
.catalog__item {
    border: 1px solid saddlebrown;
    padding: 10px 0;
    float: left;
    text-transform: uppercase;
    display: inline-block;
}
.catalog__item a {
    padding: 10px;
    color: rgb(71, 71, 71);
}
.catalog__item a:hover {
    color: white;
}    
.catalog__item:hover {
    background-color: rgb(253, 145, 109);    
} 

/*  */

.catalog__topmenu {
    border: 1px solid palevioletred;
    padding: 0;
    margin-bottom: 0; 
}
.catalog__submenu li, div{
    display: inline-block;
}