.button-shop-now, 
.button-add-to-card {
  font-family: 'Nunito', sans-serif;
    position: absolute;
  }
  .button-shop-now input[value="SHOP NOW"] {
    height: 40px;
    width: 130px;
    padding-right: 10px;  
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
  }
  .button-shop-now::after {
    content: "";
    border: 4px solid transparent;	
    border-left: 5px solid white;
    position: absolute;
    z-index: 5;
    right: 10px;
  }
  .button-add-to-card input[value="ADD TO CARD"] {
    height: 40px;
    width: 120px;
    padding-right: 30px;  
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
  }
  .button-add-to-card::after {
    content: "+";
    font-weight: bold;
    color: white;
    font-size: 25px;
    position: absolute;
    transform: translate(0, -45%);
    top: 45%;
    right: 5px;
  }
  .button-shop-now_orange input[value="SHOP NOW"]:hover,
  .button-add-to-card input[value="ADD TO CARD"]:hover,
  .photography-view__amount-of-product input[type="button"]:hover {
    background-color:  rgba(218, 95, 54, 0.5);
  }
  .slider__indicator_active {
    background-color: rgb(253, 146, 109);
  }
  .button-shop-now_orange input[type="button"],
  .button-add-to-card input[type="button"] {
    background: rgb(253, 145, 109);
    box-shadow: inset 0 -3px 0px rgb(218, 95, 54);
  }
  .button-shop-now_orange::after {
    top: 40%; 
  }


  a {
      text-decoration: none;
  }


  .slider {
    position: relative;
    display: inline-block;
  }
  .slider__items {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .slider__item {
    position: relative;
    display: none;
    width: 100%;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
  }
  .slider__item_active,
  .slider__item_next,
  .slider__item_prev {
    display: block;
  }
  .slider__item_next,
  .slider__item_prev {
    position: absolute;
    top: 0;
  }
  .slider__item_next.slider__item_left,
  .slider__item_prev.slider__item_right {
    transform: translateX(0);
  }
  .slider__item_next,
  .slider__item_right.slider__item_active {
    transform: translateX(100%);
  }
  .slider__item_prev,
  .slider__item_left.slider__item_active {
    transform: translateX(-100%);
  }
  .slider__control {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    text-align: center;
    opacity: 0.5;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: rgb(177, 41, 41);
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_prev {
    left: 0;
  }

  .slider__control_next {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(99, 99, 99)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(99, 99, 99)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  .slider__indicators {
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
  }
  .slider__indicator {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 15x;
    margin-left: 15px;
    background-color: rgb(129, 129, 129);
    border-radius: 100%;
  }
  .slider__indicator::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  .slider__indicator::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  img[src="products\sliders.png"],
  img[src="slider.png"] {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  
.accordion {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    list-style-type: none;
}
.accordion-header {
    cursor: pointer;
    text-transform: uppercase;
}
.accordion>li {
  padding: 10px 0;
}
.accordion-body {
  padding-left: 20px;
  display: none;
}
.menuToggle_orange {
  background-color: rgb(253, 145, 109);
}
.menuToggle {
  display: none;
  margin: 0 10px;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}
.accordion-menu {
  display: none;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0 10px;
 }
 .footer__info {
  font-family: 'Nunito', sans-serif;
 }
 .accordion-body-menu {
   display: none;
 }
 .accordion-menu>li {
   cursor: pointer;
   color: white;
   padding: 5px 20px;
 }
.accordion-menu li {
  list-style-type: none;
}
.accordion-body-menu a {
  color: white;
}
@media screen and (max-width: 900px) {
  .footer__information {
      flex-wrap: wrap;
      width: 60%;
  }
  .footer__information ul {
      width: 40%;
      padding-bottom: 20px;
  }
  .full-information__icons {
      margin-left: 10px;
      margin-right: 20px; 
  }
  .footer__copyright-box {
      font-size: 12px;
  }
  .footer__copyright {
      padding-right: 20px; 
  }
  .footer__info {
      padding-left: 20px; 
  }  
  .box-clothes {
     justify-content: center;
  }
  .box-clothes__item_del_900 {
      display: none;
  } 
  .box-clothes__item {
    padding: 0 20px;
  } 
    
  .topmenu {
    display: none;
  } 
  .menuToggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }  
  .menuToggle p {
    margin: 0;
  }
  .accordion-menu {
    display: none;
  }
  .accordion-body-menu {
    display: none;
    padding-left: 10px; 
  }
  ul.accordion-menu {
    display: none;
  }
  .footer__info p.footer__vert-line {
    display: none;
  }
  
  .footer__info {
    display: none;
  }
  .footer__info span {
    display: block;
  }
  .footer__copyright-box>div{
    align-self: center;
  }
 }
@media screen and (max-width: 720px) {
  .footer__full-information {
      display: none;
  }
  .footer__cards-box {
      display: none;
  }
  .about-lookshop {
      display: none;
  }
  .brands {
      display: none;
  }
  .slider {
      display: none;
  } 
  .poster {
      display: none;
  }
  .main__contact p {
      display: none;
  }
  .main__contact {
    border-top: none;
  } 
  .box-clothes__item_del_720 {
      display: none;
  }
  .main__photography-view {
    flex-direction: column;
  }
  .phtography-view__img {
    display: flex;
    justify-content: center;
  }
  .main__contact {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 0 20px;
    border: none;
  }
  .main__contact span {
    padding-left: 10px 
  }
  .phtography-view__return-home {
    display: none;
  }
  .phtography-view__name {
    margin-top: 0;
  }
  .contact-main__email-box input[type="text"] {
    background-color: rgb(226, 226, 226);
    width: 100%;
}
  .contact-main__email-box>p {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .breadcrumbs {
    display: none;
  }
  .header__number-phone {
    display: none;
  }
  .header-box {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    max-width: 970px;
    display: flex;
    padding: 0;
  }
  .header__currency {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
  }
  .header__account {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
  }
  .header__search {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
  }
  .top-box {
    flex-direction: column;
  }
  .nav__your-carts {
    margin-left: 0px;
  }
  .nav__input_cart {
    display: none;
  }
  .your-carts__counter {
    width: 234px;
    border-top: 1px solid rgb(187, 187, 187);
    
  }
  .main__contact {
    display: none;
  }
  .main__accordion {
    top: 40px;
  }
  .box-clothes {
    justify-content: center;
    flex-direction: column;
  }
  .box-clothes__item {
    width: 260px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin-top: 20px;
  }
  .box-clothes__sprite-clothes {
    width: 260px;
  }
  .contact {
    flex-direction: column;
  } 
  .contact-main {
    position: relative;
    bottom: -5px;
    width: 100%;
    background-color: white;
    }
}
  @media screen and (max-width: 380px) {
    .link__item {
      margin: 0;
    }
    .link__item img {
      width: 70px;
    }
    .phtography-view__img > img {
      width: 290px;
    }
    .phtography-view__link {
      bottom: -390px;
  }
  .phtography-view__img {
    height: 500px;
  }
}




