.clearance {
    position: relative;
    top: 50px;
    transform: translate(-50%);
    left: 50%;
    max-width: 970px;
    margin-bottom: 60px; 
}
.clearance img {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    padding: 0 20px;
    background-color: white;
    height: 120px;
}
.clearance__line {
    position: absolute;
    border-top: 1px solid gray;
    width: 100%;
    top: 50%;
}
.about-lookshop {
    position: relative;
    top: 50px;
    transform: translate(-50%);
    left: 50%;
    margin: 0 5px;
    max-width: 970px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}


.about-lookshop p {
    color: gray;
}
.about-lookshop h2 {
    color: rgb(77, 77, 77);
}
.brands {
    position: relative;
    top: 50px;
    transform: translate(-50%);
    left: 50%;
    max-width: 100%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-bottom: 15px; 
    border-bottom: 1px solid gray; 
}
.brands img {
    width: 80%;
}
.brands__top-line {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 15px; 
    }

.brands__top-info {
    border-bottom: 1px solid gray;
    height: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    }

.brands__top-info span {
    background-color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 0px 5px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}


.slider {
    margin-top: 20px;
    width: 100%;
  }
.button-shop-now_orange {
    position: absolute;
    top: 68%;
    left: 24%;
}


.poster {
    display: flex;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    justify-content: center;
    max-width: 970px;  
    top: 50px; 
}
.button-shop-now_green {
    position: absolute;
    bottom: 2%;
    right: 8%;
}
.button-shop-now_green input[type="button"] {
    background: rgb(8, 164, 175);
    box-shadow: inset 0 -3px 0px rgb(3, 99, 94);
  }
  .button-shop-now input[value="SHOP NOW"] {
    font-family: 'Nunito', sans-serif;
}
  .button-shop-now_green input[value="SHOP NOW"]:hover {
    background-color:  rgba(9, 95, 110, 0.5)
  }
  .button-shop-now_green::after {
    top: 40%; 
  }
  img[src="pictures/poster.png"] {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: auto;
}


.contact-main {
    position: relative;
    bottom:  -50px;
    width: 100%;
    background-color: rgb(204, 204, 204);
}
.contact {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    max-width: 970px;
    padding: 0 5px;
    height: 70px;
}
.contact-main__email-box {
    margin-left: 20px;
}
.contact-box {
    margin-right: 20px;
}
.contact-main__email-box input[type="text"] {
    height: 35px;
    padding-left: 5px; 
    font-style: italic;
    color: gray;
    border: none;
    outline: none;
  }
.contact-main__email-box input[type="button"] {
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: rgb(253, 145, 109);
    border: none;
    outline: none;
    box-shadow: inset 0 -3px 0px rgb(218, 95, 54);
    font-weight: bold;
    color: white;
    font-size: 25px;
}
input[type="button"]:hover {
    background-color:  rgba(218, 95, 54, 0.5);
}
.contact p {
    font-size: 15px; 
    padding-right: 10px;  
}
.contact-list {
    padding: 0;
}
.contact-list li {
    display: inline-block;
}
.contact-list i {
    color: rgb(105, 105, 105);
    font-size: 25px;
}
.contact-list i:hover {
    color: rgb(59, 59, 59);
    font-size: 25px;
}

.contact-main__email-box {
    display: flex;
    align-items: center;
}
.contact-box {
    display: flex;
    align-items: center;
}
.slider-catalog {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(253, 145, 109);
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.button-add-to-card_orange-for-catalog {
    bottom: 10px;
    transform: translate(-50%);
    left: 50%;
}
.slider-catalog__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider-catalog__item {
    cursor: pointer;
    float: left;
    padding: 1px;
    margin: 25px;
}

.slider-catalog__control {
    position: absolute;
    background-color: rgba(253, 145, 109, 0);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: #fff;
    text-align: center;
    bottom: 0;
}

.slider-catalog__control:hover,
.slider-catalog__control:focus {
    color: #fff;
    background-color: rgba(253, 145, 109, 0);
    text-decoration: none;
    outline: 0;
}

.slider-catalog__control_left {
    left: 0;
}

.slider-catalog__control_right {
    right: 0;
}

.slider-catalog__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider-catalog__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider-catalog__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider-catalog__content_header {
    position: relative;
    width: 210px;
}
.slider-catalog__content_header img {
    width: 100%;
    display: block;
}
.slider-catalog__content_footer {
    background: #f5f5f5;
    display: flex;
    width: 180px;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    height: 100px;
    color: #616161;
}
.slider-catalog__item:hover {
    box-shadow: 0 0 10px black;
}
@media screen and (max-width: 420px) {
    .catalog {
        display: none;
    }
}