main {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    max-width: 970px;
    font-family: 'Nunito', sans-serif;
}
.main__photography-view {
    display: flex;
}
.phtography-view__img {
    position:  relative;
}

.phtography-view__img > img {
    position: absolute;
    opacity: 0;

    display: block;
}
.phtography-view__img img.active {
    opacity: 1;
    transform: scale(1);
}
.phtography-view__link {
    position: relative;
    display: flex;
    bottom: -450px;
}
.link__item {
    margin-right: 10px;
    margin-top: 5px; 
}
.link__item img {
    width: 80px;
}
.phtography-view__info {
    margin-left: 20px; 
}
.phtography-view__price {
    margin: 0;
    padding: 0;
    color: rgb(253, 145, 109);
    font-weight: bold;
    font-size: 35px;
}
.phtography-view__name {
    font-weight: bold;
    font-size: 25px;  
}
.phtography-view__return-home {
    border-bottom: 1px solid gray;
}
.phtography-view__return-home a{
    color: rgb(253, 145, 109);
}
.phtography-view__return-home p {
    padding: 10px 0;
    margin: 0;
}
.phtography-view__return-home p::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(200, 200, 200)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }


  .photography-view__amount-of-product {
    font-family: 'Nunito', sans-serif;
    position: absolute;
  }
  .photography-view__amount-of-product {
    display: flex;
  }
  .photography-view__amount-of-product input[value="+"] {
    height: 40px;
    width: 40px;
    padding: 0;
    color: white;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background: rgb(253, 145, 109);
    box-shadow: inset 0 -3px 0px rgb(218, 95, 54);  
    border: none;
    outline: none;
  }
  .photography-view__count {
      height: 40px;
      width: 40px;
      background: rgb(255, 179, 154);
  }
  .photography-view__count p{
    text-align: center;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 16px;
    padding: 12px 0;
    margin: 0;
  }
  .button-add-to-card-in-product {
      right: 340px;
  }
  .phtography-view__select-size-color {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: 10px 0;
      margin-bottom: 25px;
  }
  .phtography-view__colors {
      display: flex;
  }
  .phtography-view__color-item {
      width: 30px;
      height: 30px;
      margin-left: 2px; 
  }
  .phtography-view__color-item_lightgray {
    background-color: rgb(224, 224, 224);
  }
  .phtography-view__color-item_smoke {
    background-color: gray;
  }
  .phtography-view__color-item_cedar {
    background-color: rgb(99, 81, 81);
  }
  .phtography-view__color-item_darkgrey {
    background-color: rgb(77, 75, 75);
  }
  .phtography-view__color-item_blue {
    background-color: rgb(140, 179, 252);
  }

  .main__contact {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 190px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0;
  }
  .main__contact a {
      padding: 8px;
      border: 2px solid gray;
      border-radius: 100%;
  }
  .main__contact i {
      color: gray;
      font-size: 20px;      
  }
  .main__contact a:hover {
      background-color: rgb(240, 232, 232);
  }
  .main__contact span {
      display: flex;
  }
  .main__contact p {
      padding-left: 10px; 
      align-self: center;
      text-transform: uppercase;
      margin: 0;
  }
  .main__accordion {
    position: relative;
    top: 190px;
  }



  .accordion {
    font-family: 'Nunito', sans-serif;
    /* max-width: 250px; */
    width: 100%;
    padding: 0;
    list-style-type: none;
}
.accordion-header {
    cursor: pointer;
    text-transform: uppercase;
}
.accordion>li {
    /* border-bottom: 1px solid  gray; */
    padding: 10px 0;
}
.accordion-body {
    padding-left: 20px;
    display: none;
    /* list-style-type: square; */
    list-style-type: none;
}
.accordion-body li {
    color: rgb(253, 145, 109); 
}
.accordion-header {
    position: relative;
    left: 40px;
    
}
.accordion-header::before{
    content: '';
    position: absolute;
    left: -32px;
    top: -2px;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 255, 255)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px 12px; 
    background-position: center; 
    border: 1px solid white;
}
.accordion-header,
.accordion-body{
    /* color: black;  */
    color: white; 
}
.accordion-body li {
    margin: 5px 0;
}
.accordion_descrpt-bck {
    background-color: rgb(255, 196, 176); 
}
.accordion_inf-bck {
    background-color: rgb(255, 185, 162); 
}
.accordion_reviews-bck {
    background-color: rgb(255, 170, 142); 
}
.accordion_link-bck {
    background-color: rgb(255, 154, 121); 
}
.accordion_make-gift-bck {
    background-color: rgb(255, 143, 106); 
}

 